# Ignore Mac OS X view settings file
.DS_Store
sublime?/User/Package\ Control.sublime-settings
sublime?/User/Package\ Control.last-run
git/gitconfig.symlink
iterm2/com.googlecode.iterm2.mac_pref
vim/vim/.netrwhist
