"*":
  "aligner-ruby": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
  editor:
    fontFamily: "Inconsolata"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "git-plus": {}
  linter:
    subtleLinterErrors: [
      "puppet-lint"
      "puppet-parse"
    ]
  "linter-csslint": {}
  "linter-erb": {}
  "linter-htmlhint": {}
  "linter-js-yaml": {}
  "linter-puppet-lint":
    executablePath: "/Users/tamsen/.rvm/gems/ruby-2.1.7@it-puppet/bin/puppet-lint"
    oldVersion: false
    puppetLintExecutablePath: "/Users/tamsen/.rvm/gems/ruby-2.1.7@it-puppet/bin/puppet-lint"
  "linter-puppet-parse": {}
  "one-dark-ui": {}
  "ruby-test": {}
  "spell-check": {}
  term2: {}
  "terminal-plus":
    core: {}
    style: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
